<div class="jumbotron">
    <p class="lead">請輸入訂房資訊</p>
</div>
<div class="row">
    <form action="@Url.Action("CalculatePrice", "Home")" method="post">
        <div class="col-md-12">
            <label for="userName">你的姓名:</label>
            <input type="text" class="form-control" name="userName" value="" placeholder="請輸入你的姓名" required />
        </div>
        <div class="col-md-12">
            <label for="roomType">房型:</label>
            <select class="form-control" name="roomType" required>
                <option value="mountainView">山景 - NT$2,500</option>
                <option value="riverView">河景 - NT$3,000</option>
                <option value="aislePlace">走道 - NT$2,000</option>
            </select>
        </div>
        <div class="col-md-12">
            <label for="numDays">訂房天數:</label>
            <input type="number" class="form-control" name="numDays" placeholder="請輸入訂房天數(1-90)" min="1" max="90" required><br><br>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-info">送出</button>
        </div>
    </form>
</div>